
button,
button:focus {
	outline: none;
	background: transparent;
	border: 0;
	padding: 0;
}

button:active {
	outline: none;
	background: transparent;
	border: 1px solid grey;
}

button > svg {
  display: block;
}

a {
  text-decoration: none;
}
