:root {
	--primary-color: #ff6600;
	--secondary-color: #ffe0cc;
	--tertiary-color: #0000ff;
	--quaternary-color: #ffff00;
	--bg-color: #fff9f5;
	--text-color: #1a0a00;
}

.dark {
	--primary-color: #ff0000;
	--secondary-color: #424242;
	--tertiary-color: #0000ff;
	--quaternary-color: #ffff00;
	--bg-color: #121212;
	--text-color: ##fff9f5;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

a {
	color: var(--text-color);
}

a:hover {
	color: var(--primary-color);
}

button {
  color: var(--text-color);
}

button:hover {
  color: var(--primary-color);
}

.navItem:hover {
  background-color: var(--secondary-color);
}
