@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Scada&display=swap');

:root {
	--primary-color: #ff6600;
  --secondary-color: #fff0e5;
	--tertiary-color: #ffe0cc;
	--quaternary-color: #ffff00;
	--bg-color: #fff9f5;
	--text-color: #1a0a00;
}

.dark {
	--primary-color: #ff6600;
	--secondary-color: #181818;
	--tertiary-color: #424242; 
	--quaternary-color: #ffff00;
	--bg-color: #121212;
	--text-color: ##fff9f5;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: 'Scada', sans-serif;
}

a {
	color: var(--text-color);
}

a:hover {
	color: var(--primary-color);
}

button {
  color: var(--text-color);
}

button:hover {
  color: var(--primary-color);
}

.navItem:hover {
  background-color: var(--tertiary-color);
}
